* {

}

.myNavbar {
  display: flex;
  flex-direction: row;
  background-color: #00AABA;
  min-height: 7vh;
  align-items: center;
}

.navelement {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  font-size: 20px;
  text-transform: uppercase;
  min-width: 200px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 100;
}

a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

main {
  width: 60vw;
  margin-top: 5%;
  margin-left: 20vw;
  margin-right: 20vw;
  min-height: 75vh;
}

label {
  padding-right: 5px;
}

.delete-btn {
  cursor: pointer;
}

td:nth-child(2), td:nth-child(3) {
    min-width: 100px;
}

td:nth-child(5), td:nth-child(7), td:nth-child(8)  {
    text-align: center;
}

label {
  width: 120px;
}

.select-color {
  width: 90px;
  height: 80px;
}

.color-label {
  
}
